body{
    background: black;
    font-family : Lato;
}
nav{
    background: black;
}
#navbar a{
    letter-spacing : 2px;
    margin-right : 15px;
    font-size : 1.25rem;
    color : cyan;
}
#navbar a:hover{
    color : white;
}
#navbar .navbar-brand{
    letter-spacing: 0px;
    font-size : 1.30rem;
    color: white;
}

#about h1{
    letter-spacing : 3px;
    font-family: Lora;
}
#about h3,h2{
    letter-spacing : 2px;
    font-family : Lora;
}
.text{
    line-height : 2;
}

.quote{
    font-family: Space Mono;
    font-size: 2.5rem;
    color: rgb(102, 100, 100);
    letter-spacing: 1px;
}

#image1{
    height : auto;
    width : 100%;
}
.image2{
    height: 90vh;
    width: 90vh;

}


@media (min-width : 992px){
    #fcleft{
        border-right : 4px solid yellow;
        border-top: 4px solid yellow;
    }
    
}

