body{
    background: black;
    font-family : Lato;
}
nav{
    background: black;
}
#navbar a{
    letter-spacing : 2px;
    margin-right : 15px;
    font-size : 1.25rem;
    color : cyan;
}
#navbar a:hover{
    color : white;
}
#navbar .navbar-brand{
    letter-spacing: 0px;
    font-size : 1.30rem;
    color: white;
}
#home{
    background-image: url(background.png);
}
#home h1{
    letter-spacing : 3px;
    font-family: Lora;
}
#home h3,h2{
    letter-spacing : 2px;
    font-family : Lora;
}
.text{
    line-height : 2;
}

.quote{
    font-family: Space Mono;
    font-size: 2.5rem;
    color: rgb(102, 100, 100);
    letter-spacing: 1px;
}

#image1{
    height : auto;
    width : 100%;
}

.section{
    margin-bottom : 10px;
}

.about{
    background: rgb(24, 24, 24);
    background-image: url(background1.png);
}


.aboutme{
    color :rgb(255, 248, 219);

    letter-spacing : 2px;
    font-family : Lora;
}

.aboutme:hover{
    color : rgb(247, 255, 133);
}

.describe{
    font-style: italic;
    font-family : Lora;
    color : pink;
    line-height : 2;
    letter-spacing: 1px;

}
.describe span{
    font-weight: bold;
    color :rgb(250, 211, 218);
}

.describe p::first-letter{
    font-size : 50px;
}



